#logo {
    margin-top: -135px;
    height: 106px;
    width: 320px;
    margin-left: -26px
}

#containerConteudo {
    max-width: 100vw;
    background-color: #f2f4f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 720px;
}

#container {
    max-width: 980px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

@media (max-width: 901px) {
    #container {
        flex-direction: column;
    }

    #containerLogo h2 {
        text-align: center;
    }

    #containerLogo {
        align-items: center;
        margin-bottom: 35px;
    }

    #logo {
        margin-top: -20px;
    }
}

#containerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#containerLogo h2 {
    font-size: 28px;
    font-weight: 400;
    width: 500px;
    margin: 0;
    line-height: 28px;
}

@media (max-width: 1076px) {
    #containerLogo h2 {
        font-size: 24px;
        width: 368px;
    }
}

#containerLogin {
    width: 398px;
}

#login {
    padding: 16px;
    height: 357px;
    width: 398px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#msgContainer {
    color: #1c1e21;
    font-size: 14px;
    font-weight: 400;
    width: 396px;
    overflow-wrap: break-word;
    margin-top: 27px;
    text-align: center;
}

#msgContainer a {
    color: inherit;
    font-size: 14px;
    font-weight: 600;
}

a.novaSenha {
    color: #0866ff;
    font-weight: 500;
    margin-bottom: -2px;
    font-size: 14px;
}

input.inputTextEmail {
    font-size: 18px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    background: #fff;
    height: 22px;
    margin-bottom: -3px;
    outline: none;
    border: solid 1px #dddfe2;
}

.input-error-login {
    border-color: red !important;
}

input.inputTextEmail:focus,
div.bordaInputPassword:focus-within {
    border-color: #0866ff;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #0866ff;

}

input.inputText {
    font-size: 18px;
    outline: none;
    border: none;
    width: 100%;
}

div.bordaInputPassword {
    font-size: 18px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    background: #fff;
    height: 22px;
    margin-bottom: -3px;
    border: solid 1px #dddfe2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-error {
    border-color: red !important;
}

span.loginErros {
    font-size: 10px;
    color: red;
    margin-top: 118px;
    position: absolute;
    margin-left: -270px;
}

button.buttonEntrar {
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    font-size: 21px;
    line-height: 49px;
    padding: 0 16px;
    width: 365px;
    color: #fff;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-top: 7px;
}

button.buttonEntrar:hover {
    background-color: #166fe5;
}

button.buttonEntrar:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#borderTopButton {
    width: 364px;
    align-items: center;
    border: none;
    height: 1.25px;
    background-color: #DADDE1;
}

button.buttonConta {
    font-size: 18px;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: #fff;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-top: 3px;
    box-sizing: content-box;
}

button.buttonConta:hover {
    background-color: #36a420;
    border-color: #36a420;
}

#iconeOlho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 100%;
    margin-right: -6px;
}

#iconeOlho:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}