#containerPrincipalLogado {
    background-color: #f2f4f7;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 55px;
}

#imagemUsuario{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: white;
    margin-bottom: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img{
    width: 100%;
}
#containerDadosUsuario{
    padding: 16px;
    width: 398px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.dadosUsuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 366px;
    border-bottom: 1px solid #DADDE1;
    padding: 5px 0;
}

div.containerIconeEDados{
display: flex;
flex-direction: row;
align-items: center;
justify-content: start;
gap: 10px;
width: 100%;
}

p.dados{
    font-weight: 400;
    font-size: 15px;
    color: #1c1e21;
    margin: 0;
}
div.iconeLapis{
    display: flex;
    align-items: center;
    justify-content:  center;
    height: 18px;
    width: 18px;
    cursor: pointer ;
    border-radius: 100%;
    padding: 10px;
 }

 div.iconeLapis:hover{
    background-color: #f2f5fa;
 }

div.containerAtualizarDados{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
input.inputAtualizarDados{
    width: 250px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0;
}

div.containerLinksAtualizacao{
    display: flex;
    flex-direction: row;
}

 .lucide{
    height: 28px;
    width: 28px;
    color: rgb(96, 103, 112)
 }

#iconeCircleX{
    text-align: start;
}

#containerSair{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: 18px;
    padding-bottom: 5px;
}

#linkSair{
    font-size: 15px;
    color: #1c1e21;
    text-align: start;
    margin-bottom: 0;
    text-decoration: none;
}
#hoverImagemUsuario{
    opacity: 0;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}
#hoverImagemUsuario:hover{
    opacity: 0.10;
    cursor: pointer;
}
span.erroDeAtualizacao{
    position: absolute;
    margin-top: 30px;
    font-size: 10px;
    color: red;
    width: 302px;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}