.containerRecuoerarSenha {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudoRecuperarSenha {
  background-color: #e9ebee;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 145px;
}

.formRecuperarSenha {
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px #0000001a, 0 2px 4px #0000001a;
  margin: auto;
  width: 95%;
  /* Adaptável para telas pequenas */
  max-width: 500px;
  /* Limite para telas grandes */
  background-color: #fff;
  padding-top: 10px;
}

.tituloForm {
  font-size: 20px;
  line-height: 24px;
  margin-top: -10px;
  padding: 18px 16px 18px 18px;
  min-height: 20px;
  color: #162643;
  font-weight: 600;
}

.containerConteudoForm {
  margin: 16px;
  max-width: 468px;
  /* Ajustado para ser fluido */
  color: #1c1e21;
  position: relative;
  /*mexemos nessa linha*/
}

.textoForm {
  margin-bottom: 16px;
  text-align: left;
  color: #1c1e21;
  font-size: 16.8px;
  line-height: 20px;
}

.inputForm {
  font-size: 17px;
  height: auto;
  margin-bottom: 30px;
  /*mexemos aqui*/
  padding: 16px 0 16px 16px;
  width: 100%;
  /* Ocupa todo o espaço disponível */
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #CCD0D5;
  background-color: #fff;
  color: #1c1e21;
}

/*mexemos aqui*/
.erroBuscaForm {
  color: #f02849;
  font-size: 13px;
  position: absolute;
  /* Tira o elemento do fluxo, não empurra nada */
  bottom: 0;
  /* Cola no fundo do containerConteudoForm */
  left: 5px;
  white-space: nowrap;
  /* Garante que fique em uma linha só */
}

.containerBotoesForm {
  margin-top: 20px;
  background-color: inherit;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-radius: 0 0 8px 8px;
  padding: 16px;
  display: flex;
  justify-content: end;
}

.botaoCancelarForm {
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 36px;
  margin-left: 8px;
  padding: 0 20px;
  color: #4b4f56;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
}

.botaoPesquisarForm {
  /* padding: 0 20px; */
  width: 120px;
  padding-bottom: 0;
  padding-top: 0;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  line-height: 36px;
  margin-left: 8px;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.2s;
}

.botaoPesquisarForm:hover {
  background-color: #166fe5;
  cursor: pointer;
}

.botaoPesquisarForm:disabled {
  background-color: #8cb4f5;
  cursor: not-allowed;
  opacity: 0.8;
}