#containerPrincipalLogado {
    background-color: #f2f4f7;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 55px;
}

#imagemUsuario {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: white;
    margin-bottom: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#imagemUsuario img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hoverImagemUsuario {
    opacity: 0;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}

#hoverImagemUsuario:hover {
    opacity: 0.10;
    cursor: pointer;
}

#containerDadosUsuario {
    padding: 16px;
    width: 398px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iconeCircleX {
    text-align: start;
}

#containerSair {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: 18px;
    padding-bottom: 5px;
}

#linkSair {
    font-size: 15px;
    color: #1c1e21;
    text-align: start;
    margin-bottom: 0;
    text-decoration: none;
}