#containerPrincipalCadastro {
    background-color: #f2f4f7;
   width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 55px;
}

#containerCadastro {
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 16px;
    max-width: 432px;
}

#tituloCadastro {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: rgb(28, 30, 33);
    font-weight: 600;
}

#subTituloCadastro {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: rgb(96, 103, 112);
    font-weight: 400;
}

#linhaDivisoria {
    border: none;
    height: 1px;
    width: 432px;
    background-color: #DADDE1;
    margin-bottom: 17px;
}

#formulario {
    padding: 0 16px;
}

div.inputEErro {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 20px;
    
}

span.mensagemError {
    position: absolute;
    color: red;
    margin-top: 40px;
    font-size: 10px;
}

.bordaErroCadastro {
    border-color: red !important
}

#cadastroNome {
    width: 399px;
    display: flex;
    gap: 14px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 12px;
}

input.inputCadastroNome {
    width: 125px;
    padding: 11px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #CCD0D5;
    border-radius: 5px;
    color: #1c1e21;
}


#iconeCamera {
    cursor: pointer;
    margin-left: 20px;
    position: relative;
}

#imagemCadastro {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.erroImagem {
    position: absolute;
    color: #f02849;
    font-size: 10px;
    bottom: -19px;
    left: -26px;
    white-space: nowrap;
}



#containerPrincipalData {
    margin-bottom: 4px;
    color: rgb(96, 103, 112);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 2px;
}

.dataEErro{
    position: relative;
}

#containerData {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

select.seletores {
    border-radius: 4px;
    color: #1c1e21;
    font-size: 15px;
    font-weight: 400;
    height: 36px;
    width: 125px;
    background-color: #fff;
    border: 1px solid #CCD0D5;
    padding-bottom: 2px;
}

#containerPrincipalGenero {
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
}

#tituloGenero {
    color: rgb(96, 103, 112);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 4px;
}

#containerGenero {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -6px -6px;
    width: 411px;

}

span.opcoesGenero {
    background-color: #fff;
    border: 1px solid #CCD0D5;
    box-sizing: border-box;
    display: inline-block;
    flex: 1 0 auto;
    padding: 0;
    width: auto;
    border-radius: 4px;
    margin: 8px 6px 6px;
}

label.genero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #1c1e21;
    font-size: 15px;
    line-height: 36px;
    padding: 0 10px;
    width: 100%;
    font-weight: 400;
}

.erroPosicionado {
    position: absolute;
    color: #f02849;
    font-size: 10px;
    margin-top: -3px;
    left: 0;
}

input.radio {
    margin-bottom: 3px;
}

#containerEmailESenha {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.inputEmailESenha {
    border-radius: 5px;
    width: 375px;
    font-size: 16px;
    line-height: 16px;
    padding: 11px;
    border: 1px solid #CCD0D5;
    color: #1c1e21;
}

p.textoInformativo {
    color: #777;
    font-size: 11px;
    width: auto;
    line-height: 1.34;
}

a.linkDoTexto {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

#botaoCadastrar {
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    min-width: 194px;
    padding: 0 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

#botaoCadastrar:hover {
    background-color: #008a00;
}

#botaoCadastrar:disabled {
    background-color: #94d294;
    cursor: not-allowed;
}

#containerBotaoELink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#linkConta {
    color: #1877f2;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0;
}