div.dadosUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 366px;
    border-bottom: 1px solid #DADDE1;
    padding: 5px 0;
    position: relative;
}

div.containerIconeEDados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
}

p.dados {
    font-weight: 400;
    font-size: 15px;
    color: #1c1e21;
    margin: 0;
}

div.iconeLapis {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    transition: background-color 0.2s;
}

div.iconeLapis:hover {
    background-color: #dde0e6;
}

div.containerAtualizarDados {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

input.inputAtualizarDados {
    width: 250px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0;
}

div.containerLinksAtualizacao {
    display: flex;
    flex-direction: row;
}

.lucide {
    height: 28px;
    width: 28px;
    color: rgb(96, 103, 112);
}

span.erroDeAtualizacao {
    position: absolute;
    margin-top: 30px;
    font-size: 10px;
    color: red;
    width: 302px;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}