#logo {
    height: 106px;
    width: 320px;
}

#pai {
    padding-top: 130px;
    width: 100vw;
    background-color: #f2f4f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-bottom: 170px;
}

#containerLogo {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    width: 500px;
}

#containerLogin {
    width: 396px;
}

#login {
    padding: 15px;
    height: 350px;
    width: 396px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#msgContainer {
    color: #1c1e21;
    font-size: 14px;
    font-weight: 400;
    max-width: 396px;
    overflow-wrap: break-word;
    width: 100%;
    margin-top: 27px;
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
}

a.novaSenha {
    color: #0866ff;
    font-weight: 500;
    /*line-height: 1.34;*/
}

a:hover {
    text-decoration: underline;
}

.inputText {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-size: 12px;
    height: 22px;
}

.buttonEntrar {
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 49px;
    padding: 0 16px;
    width: 365px;
    color: #fff;
    /* box-sizing: content-box;*/
    font-weight: 700;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    /* display: inline-block;*/
    /*white-space: nowrap;*/
    /*vertical-align: middle;*/
    /*position: relative;*/
}

.buttonEntrar:hover {
    background-color: #166fe5;
}

hr {
    width: 364px;
    align-items: center;
    border: none;
    height: 1.25px;
    /*margin: 20px 16px;*/
    /* text-align: center;*/
    background-color: #DADDE1;
}

.buttonConta {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: #fff;
    /*box-sizing: content-box;*/
    /*font-size: 12px;*/
    font-weight: 700;
    justify-content: center;
    /*padding: 0 8px;*/
    /*position: relative;*/
    text-align: center;
    /* text-shadow: none;*/
    /*vertical-align: middle;*/
    cursor: pointer;
    /* display: inline-block;*/
    /* text-decoration: none;*/
    /*white-space: nowrap;*/
}

.buttonConta:hover {
    background-color: #36a420;
    border-color: #36a420;
}