#containerCabecalho {
    padding-top: 5px;
    text-align: center;
    height: 111px;
    padding-bottom: 5px;
    background-color: inherit;
}

#cabecalhoLogo {
    width: 303px;
    height: 100px;
}