#modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalConteudo {
    display: flex;
    flex-direction: column;
    width: 785px;
    box-sizing: border-box;
    box-shadow: 0 2px 26px #0000004d,0 0 0 1px #0000001a;
}

#modalCabecalho {
    padding: 6px 10px 6px 10px;
    width: 785px;
    color: white;
    background-color: #6d84b4;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 24px;
    font-weight: 700;
    box-sizing: border-box;
    border: 1px solid #365899;
    border-bottom: 0;
}

#modalRodape {
    background-color: #f2f2f2;
    width: 785px;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #555;
    border-top: 0;
}

#modalRodape button {
    background-color: #4267b2;
    color: white;
    border: 1px solid #4267b2;
    font-size: 12px;
    padding: 0px 6px;
    line-height: 26px;
    font-weight: 700;
}

#modalRodape button:hover {
    background-color: #365899;
    cursor: pointer;
}
#bordaTopRodape {
    border-top: 1px solid #ccc;
    width: 783px;
    margin-left: 1px;
}

#modalCentro {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-color: #555;
    border-style: solid;
    border-width: 0 1px;
    height: 755px;
    /*borda apenas nas laterais*/
}

#idiomasSugeridos {
    color: #385898;
    font-size: 15px;
    display: flex;
    width: 100%;
    border-bottom: dashed 1px #ccd0d5;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-bottom: 10px;
}

#containerIdiomasSugeridos {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.idiomaSugerido {
    width: 25%;
}
.idiomaSugerido:hover {
    cursor: pointer;
    text-decoration: underline;
}

div#idiomaSugeridoSelecionado {
    color: #333;
    font-weight: 700;
    width: 25%;
    display: flex;
    flex-direction: column;
}

div#idiomaSugeridoSelecionado:hover {
    text-decoration: none;
    cursor: default;
}

#checkIdiomaSelecionado {
    font-size: 15px;
}

#modalCentro span {
    padding-top:3px;
    color: #90949c;
    font-size: 12px;
    width: 203px
}

#todosIdiomas {
    float: left;
    font-size: 12px;
}

#todosIdiomas ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    width: 160px;
    margin-top: 0;
}

a.listaContinentes {
    line-height: 2.30;
    font-weight: 400;
    color: rgb(144, 148, 156);
}

.categoriaSelecionada {
    font-weight: 700;
    color: #333;
    line-height: 2.30;
    text-decoration: underline;
}
/*o que faz as 2 configurações abaixo?*/
#tabela {
    /* table-layout: fixed; */
    border: 0px;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

td.colunaTabela {
    width: 25%;

}

ul.dadosTabela {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#containerIdiomas {
    max-width: 785px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}
a.listaPaises {
    color: rgb(54, 88, 153);
    font-weight: 400;
    line-height: 2.02;
    cursor: pointer;
}

.idiomaSelecionado {
    font-weight: bold;
    color: #333;
    line-height: 2.02;
}

.idiomaSelecionado:hover {
    text-decoration: none;
    cursor: default;
}

