#main {
    padding-top: 15px;
    font-size: 12px;
    display: flex;
    justify-content: center;

}

#conteudo {
    color: #737373;
    max-width: 980px;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

ul.primeiraLista,
ul.segundaLista {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

ul.primeiraLista {
    padding-top: 0px;
    column-gap: 10px;
    padding-bottom: 0;
    margin-bottom: 8px;
}

ul.segundaLista {
    column-gap: 20px;
    line-height: 1.6;
}

a.linksListaUm,
a.linksListaDois {
    font-size: 12px;
    display: inline-block;
    font-weight: 400;
    color: #8a8d91;
}

a.linksListaUm {
    border-width: 0 0 0 1px;
}

a.linksListaDois {
    vertical-align: top;
}

#borda {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 0px;
    margin-bottom: 8px;
}


#buttonMais {
    color: #676e7d;
    border: solid 1px #ccd0d5;
    background-color: #f5f6f7;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
}

#buttonMais:hover {
    background-color: #ebedf0;
}

#idiomaRodapeSelecionado {
    text-decoration: none;
    font-weight: 700;
    cursor: default;
}